body{
    transition: background-color 0.1s, color 0.1s;
}
.switch{
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    height: 20px;
    width: 38px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgrey;
    transition: 0.1s ease-in-out;
    border-radius: 187px;
}
.slider::before{
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    border-radius: 50%;
    transition: 0.1s ease-in-out;
}
input:checked + .slider{
    background-color: skyblue;
}
input:checked + .slider::before{
    transform: translateX(18px);
}
.dark{
    background-color: rgb(20, 19, 19);
    color: white;
}
